* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s;
  outline: none;
}
:root {
  --color: #ffffff;
  --color_hover: #009cf8;
  --color_nav: #163850;
  --btn_hover: #1c79af;
  --colorblack: #000000;
  --underline: #009cf8;
}
body {
  color: #ffffff;
  background: #eee;
}
html {
  font-size: 16px;
}

section {
  min-height: 100vh;
}

.logo {
  height: 7rem;
  cursor: wait;
}
.logo img {
  height: 7rem;
}
nav {
  background: var(--color_nav);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}
ul {
  display: flex;
  list-style: none;
}
ul li {
  margin: 1rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul :nth-child(4) a {
  position: relative;
}
ul :nth-child(4) a::before {
  content: "primary";
  position: absolute;
  bottom: 100%;
  right: -21%;
  background: blue;
  border-radius: 10px;
  font-size: 0.9rem;
  width: 3rem;
}
ul li a {
  text-decoration: none;
  color: var(--color);
  font-size: 1.2rem;
  text-transform: capitalize;
}
ul li a:hover {
  color: var(--color_hover);
}
.nav_btn {
  height: 3rem;
  width: 9rem;
  margin-right: 2rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  letter-spacing: 1px;
  background: var(--color_hover);
  cursor: pointer;
  color: var(--color);
}
.nav_btn:hover {
  background: #1c79af;
}
.nav_btn i {
  margin-right: 0.2rem;
}

.title {
  background-image: url(/src/img/Rectangle\ 2.png);
  height: 82.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* h1 */
.title :nth-child(1) {
  width: 60%;
  text-align: center;
}
.search {
  height: 3rem;
  width: 55%;
  border-radius: 5px;
  border: none;
  margin-top: 17px;
  position: relative;
}
.search_btn {
  width: 15%;
  margin-top: 1rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  background: var(--color_hover);
  color: var(--color);
  font-size: 1.2rem;
}
.search_btn:hover {
  background: #163850;
  scale: 0.9;
}
.search[type="text"] {
  padding-left: 50px;
  font-size: 1.1rem;
  font-weight: 500;
}
/* projects_sec */
#projects_sec {
  color: var(--colorblack);
  font-weight: 400;
}
.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
}

.img_projects {
  width: 50%;
  height: 32rem;
  position: relative;
  margin-top: 2rem;
  margin-left: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
}
.img_projects img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.content {
  height: 26rem;
  width: 48%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content_title {
  margin-bottom: 2rem;
  font-size: 2rem;
  height: 2.7rem;
  position: relative;
}
.content_title::before {
  content: "";
  height: 0.2rem;
  width: 50%;
  background: var(--underline);
  position: absolute;
  bottom: 0;
  animation: before_underline 2s infinite;
}
.content_title::after {
  content: "";
  height: 0.2rem;
  width: 100%;
  background: var(--underline);
  position: absolute;
  bottom: -10px;
  left: 0;
  animation: after_underline 2s infinite;
}

@keyframes before_underline {
  0%,
  100% {
    width: 50%;
  }
  50% {
    width: 100%;
  }
}
@keyframes after_underline {
  0%,
  100% {
    width: 100%;
  }
  50% {
    width: 92%;
  }
}
.content p {
  width: 72%;
}

.firstPic,
.secondPic {
  display: flex;
  width: 71%;
  margin-top: 1rem;
}
.firstPic img,
.secondPic img {
  height: 5rem;
  border-radius: 1rem;
}
.firstPic_content,
.secondPic_content {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-left: 1rem;
  flex-direction: column;
}
.secondPic_btn {
  width: 52%;
  height: 2rem;
  margin-top: 2rem;
  background: var(--btn_hover);
  border: none;
  border-radius: 10px;
  color: #eee;
}
.secondPic_btn:hover {
  box-shadow: 1px 1px 10px 1px var(--btn_hover);
  cursor: pointer;
  scale: 1.1;
}

/* sec-2 */

.sec-2 {
  background: var(--color_nav);
}
.sec-2Title {
  font-size: 2rem;
  padding: 2rem;
  position: relative;
}
.sec-2Content :nth-child(1) {
  width: 29%;
  padding-left: 2rem;
}

.cards {
  height: 22rem;
  width: 100%;
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto auto auto;
  place-items: center;
}

.card {
  height: 19rem;
  width: 14rem;
  background: #eee;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  border: none;
}
.card img {
  height: 50%;
  position: absolute;
  width: 100%;
  object-fit: cover;
  border: none;
}
.card h1,
h2 {
  position: absolute;
}
.card h1 {
  color: var(--colorblack);
  top: 52%;
}
.card_content {
  bottom: 0;
  color: var(--colorblack);
  height: 7rem;
  font-size: 0.9rem;
  width: 100%;
}

/* footer */

.footer {
  background: var(--color_hover);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

@media only screen and (min-width: 320px) and (max-width: 655px) {
  html {
    font-size: 11px;
  }
  ul li {
    display: none;
  }
  .title :nth-child(1) {
    width: 80%;
  }
  .cards {
    grid-template-columns: auto auto;
    width: 100%;
  }
  section {
    min-height: 70vh;
  }
  .img_projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .projects {
    /* display: flex; */
    min-height: 140vh;
    align-items: normal;
  }
  .content {
    height: 26rem;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .secondPic_btn {
    width: 68%;
    height: 3rem;
  }
}

@media only screen and (min-width: 655px) and (max-width: 821px) {
  html {
    font-size: 15px;
  }
  section {
    min-height: 100vh;
  }
  .projects {
    flex-wrap: nowrap;
  }
  .cards {
    grid-template-columns: auto auto;
  }
  .secondPic_btn {
    width: 73%;
  }
  footer nav ul li {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
  .projects {
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 1641px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1841px) {
  html {
    font-size: 20px;
  }
}

@media only screen and (min-width: 2141px) {
  html {
    font-size: 22px;
  }
}
